<style>
    @import url(./../../assets/home-page-assets/css/bootstrap.min.css);
    @import url(./../../assets/home-page-assets/css/typography.css);
    @import url(./../../assets/home-page-assets/css/style.css);
    @import url(./../../assets/home-page-assets/css/responsive.css);

 .item-container{
     padding-top: 50px;
     width: 100vw;
 }

 .item-container ul li{
     display: inline-block;
 }

 .slick-cloned:hover{
    transform: translateY(-80px);
 }

 .info-card{
     top: 5vw;
     left: 35vw;
     z-index: 10000;
     background: #191919;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     width: 400px;
     height: 500px;
     position: fixed;
     display: block;

 }

 .info-card img{
     width: 150px;
 }

.card-image{
    width: 350px !important;
}

.info-card h6{
    text-align: center;
}

.info-card-info div{
    width: 100px;
}

.info-card-info{
    display: flex;
}

.info-card img{
    display: block;
    position: relative;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 20px;
}

#cancel{
    display: block;
    padding-top: 10px;
    transform: translate(350px);
    cursor:pointer;
}


.info-body{
   transform: translate(100px);
}

.details
{
    width: 15ch;
  overflow: hidden;
  white-space: nowrap;
}

.title{
    width: 10ch;
  overflow: hidden;
  white-space: nowrap;
}

.movie-title{
    width: 10ch;
  overflow: hidden;
  white-space: nowrap;
}

ul li {
   padding-bottom: 20px;
}

mat-card{
       background: #191919;
       color: white;
    }

    h4{
   padding-top:50px;
   padding-bottom: 50px !important;
   transform: translate(500px) !important;
    font-size: xx-large;
}

</style>
<html lang="en-US"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Streamit - Responsive Bootstrap 4 Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
 </head>
 
 <body>
    <div id="loading" style="display: none;">
       <div id="loading-center">
       </div>
    </div>
    <mat-card>
    <div *ngIf="ShowInfoCard" class="info-card">
        <i class="fa fa-times" id="cancel" (click)="ToggleCard()"></i>
        <img src="{{CurrentDetailsOBJ.image}}" class="card-image" alt="">
        <div class="info-body">
        <div class="info-card-info">
        <div>
        <h2>Title</h2>
        <p class="title">{{CurrentDetailsOBJ.title}}</p>
        </div>
        <div>
        <h2>Details</h2>
        <p class="details">{{ CurrentDetailsOBJ.body }}
        </p>
        </div>
        </div>
        <span class="hint-star star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>
        </div>
        <img src="./../../assets/images/popcorn.png">
    </div>
   </mat-card>

    
    <section class="iq-main-slider p-0">
       <div id="tvshows-slider" class="slick-initialized slick-slider"><button class="PreArrow slick-arrow" style=""><i class="ri-arrow-left-s-line"></i></button>
         <mat-grid-list>   
         <div class="slick-list draggable" style="padding: 0px 200px;"><div class="slick-track" style="opacity: 1; width: 7584px; transform: translate3d(-1896px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 948px;">
             <a href="movie-details.html" tabindex="-1">
                <div class="shows-img">
                   <img src="./../../assets/home-page-assets/images/movie-banner/2.jpg" class="w-100" alt="">
                   <div class="shows-content">
                      <h4 class="text-white mb-1">Jumbo Queen</h4>
                      <div class="movie-time d-flex align-items-center">
                         <div class="badge badge-secondary p-1 mr-2">9+</div>
                         <span class="text-white">2h 40m</span>
                      </div>
                   </div>
                </div>
             </a>
          </div><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 948px;">
             <a href="movie-details.html" tabindex="-1">
                <div class="shows-img">
                   <img src="./../../assets/home-page-assets/images/movie-banner/3.jpg" class="w-100" alt="">
                   <div class="shows-content">
                      <h4 class="text-white mb-1">The Lost Journey</h4>
                      <div class="movie-time d-flex align-items-center">
                         <div class="badge badge-secondary p-1 mr-2">20+</div>
                         <span class="text-white">2h 15m</span>
                      </div>
                   </div>
                </div>
             </a>
          </div><div class="slick-slide slick-current slick-active slick-center" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 948px;">
             <a href="movie-details.html" tabindex="0">
                <div class="shows-img">
                   <img src="./../../assets/home-page-assets/images/movie-banner/1.jpg" class="w-100" alt="">
                   <div class="shows-content">
                      <h4 class="text-white mb-1">Open Dead Shot</h4>
                      <div class="movie-time d-flex align-items-center">
                         <div class="badge badge-secondary p-1 mr-2">13+</div>
                         <span class="text-white">2h 20m</span>
                      </div>
                   </div>
                </div>
             </a>
          </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 948px;">
             <a href="movie-details.html" tabindex="-1">
                <div class="shows-img">
                   <img src="./../../assets/home-page-assets/images/movie-banner/2.jpg" class="w-100" alt="">
                   <div class="shows-content">
                      <h4 class="text-white mb-1">Jumbo Queen</h4>
                      <div class="movie-time d-flex align-items-center">
                         <div class="badge badge-secondary p-1 mr-2">9+</div>
                         <span class="text-white">2h 40m</span>
                      </div>
                   </div>
                </div>
             </a>
          </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 948px;">
             <a href="movie-details.html" tabindex="-1">
                <div class="shows-img">
                   <img src="./../../assets/home-page-assets/images/movie-banner/3.jpg" class="w-100" alt="">
                   <div class="shows-content">
                      <h4 class="text-white mb-1">The Lost Journey</h4>
                      <div class="movie-time d-flex align-items-center">
                         <div class="badge badge-secondary p-1 mr-2">20+</div>
                         <span class="text-white">2h 15m</span>
                      </div>
                   </div>
                </div>
             </a>
          </div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 948px;">
             <a href="movie-details.html" tabindex="-1">
                <div class="shows-img">
                   <img src="./../../assets/home-page-assets/images/movie-banner/1.jpg" class="w-100" alt="">
                   <div class="shows-content">
                      <h4 class="text-white mb-1">Open Dead Shot</h4>
                      <div class="movie-time d-flex align-items-center">
                         <div class="badge badge-secondary p-1 mr-2">13+</div>
                         <span class="text-white">2h 20m</span>
                      </div>
                   </div>
                </div>
             </a>
          </div><div class="slick-slide slick-cloned slick-center" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 948px;">
             <a href="movie-details.html" tabindex="-1">
                <div class="shows-img">
                   <img src="./../../assets/home-page-assets/images/movie-banner/2.jpg" class="w-100" alt="">
                   <div class="shows-content">
                      <h4 class="text-white mb-1">Jumbo Queen</h4>
                      <div class="movie-time d-flex align-items-center">
                         <div class="badge badge-secondary p-1 mr-2">9+</div>
                         <span class="text-white">2h 40m</span>
                      </div>
                   </div>
                </div>
             </a>
          </div><div class="slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 948px;">
             <a href="movie-details.html" tabindex="-1">
                <div class="shows-img">
                   <img src="./../../assets/home-page-assets/images/movie-banner/3.jpg" class="w-100" alt="">
                   <div class="shows-content">
                      <h4 class="text-white mb-1">The Lost Journey</h4>
                      <div class="movie-time d-flex align-items-center">
                         <div class="badge badge-secondary p-1 mr-2">20+</div>
                         <span class="text-white">2h 15m</span>
                      </div>
                   </div>
                </div>
             </a>
          </div></div></div>
         </mat-grid-list>  

                   
       <button class="NextArrow slick-arrow" style=""><i class="ri-arrow-right-s-line"></i></button></div>
       <div class="dropdown genres-box">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Genres
          </button>
          <div class="dropdown-menu three-column" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item" href="#">Hindi</a>
             <a class="dropdown-item" href="#">Tamil</a>
             <a class="dropdown-item" href="#">Punjabi</a>
             <a class="dropdown-item" href="#">English</a>
             <a class="dropdown-item" href="#">Comedies</a>
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Romance</a>
             <a class="dropdown-item" href="#">Dramas</a>
             <a class="dropdown-item" href="#">Bollywood</a>
             <a class="dropdown-item" href="#">Hollywood</a>
             <a class="dropdown-item" href="#">Children &amp; Family</a>
             <a class="dropdown-item" href="#">Award-Winning</a>
          </div>
       </div>
    </section>


    <div class="item-container">
        <div class="iq-main-header d-flex align-items-center justify-content-between">
            <h4 class="main-title" style="transform: translateX(40vw);">Hollywood Blockbusters</h4>
         </div>
         <mat-grid-list>  
        <ul>
            <li *ngFor="let item of MovieJSONS.slice(0, 32)" class="slide-item slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 295px;">
            <mat-card>
               <a tabindex="-1">
                   <div class="block-images position-relative">
                      <div class="img-box">
                         <img src="{{ item.image}}" class="img-fluid" alt="">
                      </div>
                      <div class="block-description">
                         <h6 class="movie-title">{{ item.title}}</h6>
                         <div class="movie-time d-flex align-items-center my-2">
                            <div class="badge badge-secondary p-1 mr-2">22+</div>
                            <span class="text-white">2h 15m</span>
                         </div>
                         <div mat-button (click)="GetDetails(item.id)" class="hover-buttons">
                            <span class="btn btn-hover">
                               <i class="fa fa-info mr-1" aria-hidden="true"></i>
                               Details
                            </span>
                         </div>
                      </div>
                   </div>
                </a>
               </mat-card>

             </li>
        </ul>
      </mat-grid-list>  
    </div>
    <footer class="mb-0">
       <div class="container-fluid">
          <div class="block-space">
             <div class="row">
                <div class="col-lg-3 col-md-4">
                   <ul class="f-link list-unstyled mb-0">
                      <li><a href="#">About Us</a></li>
                      <li><a href="movie-category.html">Movies</a></li>
                      <li><a href="show-category.html">Tv Shows</a></li>
                      <li><a href="#">Coporate Information</a></li>
                   </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                   <ul class="f-link list-unstyled mb-0">
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms &amp; Conditions</a></li>
                      <li><a href="#">Help</a></li>
                   </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                   <ul class="f-link list-unstyled mb-0">
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Cotact Us</a></li>
                      <li><a href="#">Legal Notice</a></li>
                   </ul>
                </div>
                <div class="col-lg-3 col-md-12 r-mt-15">
                   <div class="d-flex">
                      <a href="#" class="s-icon">
                         <i class="ri-facebook-fill"></i>
                      </a>
                      <a href="#" class="s-icon">
                         <i class="ri-skype-fill"></i>
                      </a>
                      <a href="#" class="s-icon">
                         <i class="ri-linkedin-fill"></i>
                      </a>
                      <a href="#" class="s-icon">
                         <i class="ri-whatsapp-fill"></i>
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="copyright py-2">
          <div class="container-fluid">
             <p class="mb-0 text-center font-size-14 text-body">Movie Prototype - 2021 All Rights Reserved</p>
          </div>
       </div>

    </footer>

    <div id="back-to-top" class="show">
       <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
    </div>
 
 
 
 </body></html>

